.cardContainer {
  display: flex;
  width: 100%;
  min-height: 10rem;
  padding: 1rem 1.5rem;
  background-color: var(--white);
  border: 1px solid var(--gray-100);
  margin: 0.25rem 0;

  &:hover {
    background: var(--vivid-red-100);
    border: 1px solid var(--vivid-red-200);
  }

  .cardImageName {
    flex: 1;
    display: flex;
    align-items: center;

    img {
      width: 6rem;
      height: 6rem;
      border-radius: 0.25rem;
    }

    h4 {
      margin-left: 1.5rem;
    }
  }
  .cardListEvents,
  .cardListSeries {
    flex: 1;

    ul {
      list-style-type: none;
    }
  }

  @media (max-width: 720px) {
    .cardListEvents {
      flex: 0;
      display: none;
    }
  }
  @media (max-width: 480px) {
    .cardListSeries {
      flex: 0;
      display: none;
    }
  }
}
