.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2.5rem 0;
}

.tableHeader {
  display: flex;
  width: 100%;
  margin-top: 2.5rem;

  .cardImageName {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  .cardListEvents,
  .cardListSeries {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  @media (max-width: 720px) {
    .cardListEvents {
      flex: 0;
      display: none;
    }
  }
  @media (max-width: 480px) {
    .cardListSeries {
      flex: 0;
      display: none;
    }
  }
}

.noMatch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10rem;
}

@media (max-width: 1280px) {
  .container {
    max-width: 1080px;
  }
}

@media (max-width: 1080px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 720px) {
  .container {
    max-width: 480px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
